.img-1{
  height:65vh;
  // padding: 10px;
  margin-bottom: -40px;
}
.img-2{
  height:65vh;
  // padding: 10px;
  // width: 100%;
  margin-top: -40px;
}

.img-3{
  height:65vh;
  // padding: 10px;
  margin-bottom: -40px;
}


